@if (posts.length > 0) {
  <mat-accordion multi="true">
    @for (post of posts; track post.title) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{ post.title }}
        </mat-expansion-panel-header>
        <p>{{ post.content }}</p>
        <mat-action-row>
          <div class="flex justify-between justify-center">
            <section>
              <div class="example-button-row">
                <button matButton="filled">EDIT</button>
                <button matButton="filled">DELETE</button>
              </div>
            </section>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else {
  <p class="info-text">No posts added yet!</p>
}
